<div class="section">
    <div class="container">
        <div class="columns boxes is-vcentered">
            <div class="column">
                <div class="box box-1">
                    <a href="">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-circle-check" width="52" height="52" viewBox="0 0 24 24" stroke-width=".5" stroke="#E87931" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <path d="M9 12l2 2l4 -4" />
                                  </svg>
                            </div>
                            <div class="column">
                                <h4 class="title is-6 mb-2">Branding</h4>
                                <p>Using only the best tools.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box box-2">
                    <a href="">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-circle-check" width="52" height="52" viewBox="0 0 24 24" stroke-width=".5" stroke="#E87931" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <path d="M9 12l2 2l4 -4" />
                                  </svg>
                            </div>
                            <div class="column">
                                <h4 class="title is-6 mb-2">Branding</h4>
                                <p>Using only the best tools.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box box-3">
                    <a href="">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-circle-check" width="52" height="52" viewBox="0 0 24 24" stroke-width=".5" stroke="#E87931" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <path d="M9 12l2 2l4 -4" />
                                  </svg>
                            </div>
                            <div class="column">
                                <h4 class="title is-6 mb-2">Branding</h4>
                                <p>Using only the best tools.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="background:url(/uploads/dots3.png) repeat center;background-size:cover">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <img src="/uploads/about.png" alt="">
            </div>
            <div class="column">
                <h4 class="subtitle is-4">About</h4>
                <h1 class="title is-1">The Best in the Industry</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt quae suscipit eveniet sint veniam, perferendis optio voluptates inventore assumenda, mollitia aliquam aut dolore minima, odio tempora neque. Nostrum, natus tenetur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti perspiciatis debitis odio similique nobis, unde pariatur? Sit illum ratione ab laboriosam repellendus vel eius? Impedit fuga quis neque quibusdam.</p>
                <br>
                <a href="" class="primary-btn">Contact us</a>
            </div>
        </div>
        <div class="columns mt-6">
            <div class="column">
                <div class="box">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Tweets</p>
                            <p class="title">3,456</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Following</p>
                            <p class="title">123</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Followers</p>
                            <p class="title">456K</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Likes</p>
                            <p class="title">789</p>
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>