<div class="section">
    <div class="container">
        <div class="columns boxes is-vcentered">
            <div class="column">
                <div class="box box-1">
                    <a href="">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-circle-check" width="52" height="52" viewBox="0 0 24 24" stroke-width=".5" stroke="#E87931" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <path d="M9 12l2 2l4 -4" />
                                  </svg>
                            </div>
                            <div class="column">
                                <h4 class="title is-6 mb-2">Branding</h4>
                                <p>Using only the best tools.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box box-2">
                    <a href="">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-circle-check" width="52" height="52" viewBox="0 0 24 24" stroke-width=".5" stroke="#E87931" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <path d="M9 12l2 2l4 -4" />
                                  </svg>
                            </div>
                            <div class="column">
                                <h4 class="title is-6 mb-2">Branding</h4>
                                <p>Using only the best tools.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box box-3">
                    <a href="">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-circle-check" width="52" height="52" viewBox="0 0 24 24" stroke-width=".5" stroke="#E87931" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <path d="M9 12l2 2l4 -4" />
                                  </svg>
                            </div>
                            <div class="column">
                                <h4 class="title is-6 mb-2">Branding</h4>
                                <p>Using only the best tools.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>