{{ $hero := .Site.Data.home.hero }}
<section class="hero is-fullheight-with-navbar" style="background:url(/uploads/bg2.jpg) no-repeat center;background-size:cover">
  {{ partial "global/navbar" . }}

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
              <h4 class="title is-6">Top Rated Team</h4>
              <h1 class="title is-1 has-text-weight-bold">{{ $hero.heading }}</h1>
                <p>{{ $hero.body }}</p><br>
                <a href="{{ $hero.link }}" class="primary-btn">{{ $hero.link_text }}</a>
            </div>
            <div class="column">
                <img src="https://assets.website-files.com/5c7d318eeaea1d6e1198d906/5eb2e5b9ce03efbfdf359fac_HeroTest-XSmaller.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>