{{ $hero := .Site.Data.home.hero }}
{{ partial "global/navbar" . }}
<section class="hero is-large-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title is-1 has-text-weight-bold">{{ $hero.heading }}</h1>
                <p>{{ $hero.body }}</p><br>
                <a href="{{ $hero.link }}" class="primary-btn">{{ $hero.link_text }}</a>
            </div>
            <div class="column">
                <img src="https://assets.website-files.com/5c7d318eeaea1d6e1198d906/5eb2e5b9ce03efbfdf359fac_HeroTest-XSmaller.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>