{{ partial "global/navbar" . }}
<section class="hero is-large-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title is-1 has-text-weight-bold">Serious about your business</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A illo nisi mollitia illum, nostrum omnis consequuntur amet ipsa officiis corrupti quis rem distinctio aspernatur ut pariatur deleniti odit in animi?</p><br>
                <a href="" class="primary-btn">Learn more</a>
            </div>
            <div class="column">
                <img src="https://assets.website-files.com/5c7d318eeaea1d6e1198d906/5eb2e5b9ce03efbfdf359fac_HeroTest-XSmaller.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>